.sidebar {
  overflow-y: hidden !important;
}
.ant-btn {
    line-height: 0.5 ;
}
.ant-btn:hover {
    background: #0D8D6D !important;
    color: white;
}
.fa-tag {
    font-size: 15px !important;
    color: rgba(26,96,87,0.97) !important;
}

/* CHECKBOX */
.checkbox-css {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-css input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #C3C3C3;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-css:hover input ~ .checkmark {
    background-color: #B3B3B3;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-css input:checked ~ .checkmark {
    background-color: rgba(13,157,121,0.97);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-css input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-css .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* END CHECKBOX */

  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #405467 !important;
    color: #ddd !important;
    border: 1px solid #ddd;
  }
  table th span {
    font-weight: bold;
  }
  table thead th {
    border: none !important;
  }
  .ant-table-wrapper {
    margin-top: 10px;
  }
  .anticon {
    vertical-align: 0em !important;
  }
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 8px 16px;
  }
  .ant-pagination-item {
    margin-right: 0px;
    border-radius: 0;
    border: none;
  }
  .ant-pagination-prev {
    margin-right: 0;
  }
  .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    border: none;
  }
  .ant-pagination a:hover{
    background-color: #405467;
    transition: background-color .5s;
    color: #2ED3AE;
  }
  .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    height: 30px;
    border-radius: 0px;
  }
  .ant-pagination-item-active a {
    color: #2ED3AE;
    background-color: #405467;
}
.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a {
  color: #2ED3AE;
} 
.ant-notification-notice {
  z-index: 2;
}
.main-header {
  z-index: 1;
}
.brand-link .brand-image{
  float: none;
  max-height: 70px;
  width: 90%;
  padding: 12px;
}
.elevation-3 {
  box-shadow: none !important;
}
